$font-family: 'SantanderMicroText', 'Open Sans', sans-serif;

$santander-white: #ffffff;
$santander-black4: #444;
$santander-black3: #333;
$santander-grayE: #eee;
$santander-grayC: #ccc;
$santander-greyEC: #ececec;
$santander-greyD8: #d8d8d8;
$santander-gray36: #363636;
$santander-nova-purple: #a893ca;
$santander-red: rgba(236, 0, 0, 1);
